@import "~bootstrap/dist/css/bootstrap.css";

.card-view {
    height: 70px;
    font-size: 1.5rem;
    background-color: #2f3542;
    color: #fff;
    padding:2rem 0 0  8rem;
}
.dash-board-link {
    width: 20%;
    margin-top: 5rem;
    padding: 1rem;
    margin-left: 7rem;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    cursor: pointer;
}
.data-table, .customer-title {

    margin-top: 5rem;
}

a {
    color: #2f3542;
    transition: color 1s;
    text-decoration: none;
}

a:hover {
    color:#ff3838;
}

.customer-title {
    transition: color 1s;
}
.customer-title:hover {
    color: #ff3838;
}